<div class='grid lg:grid-cols-5 md:grid-cols-1 sm:grid-cols-1 s:grid-cols-1 gap-4 px-12 py-12 bg-[#061115]'>
    <div class='lg:text-left md:text-center sm:text-center s:text-center'>
        <img src='./assets/images/Logo.png' class='w-[100px] lg:mx-0 md:mx-auto sm:mx-auto s:mx-auto' alt="logo" />
        <p class='text-[#657784] font-Lufga my-3'>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore
            liquam erat volutpat.</p>
    </div>
    <div class='text-[#657784] font-Lufga'>
        <p class='font-bold text-lg mb-4'>Resources</p>
        <ul>
            <li class='mb-2 text-sm'>Blog</li>
            <li class='mb-2 text-sm'>Creator Hub</li>
            <li class='mb-2 text-sm'>Affiliate Program</li>
            <li class='mb-2 text-sm'>TikTok Ebook For Brands</li>
            <li class='mb-2 text-sm'>2024 Influencer Marketing Report</li>
        </ul>
    </div>
    <div class='text-[#657784] font-Lufga'>
        <p class='font-bold text-lg mb-4'>Tools</p>
        <ul>
            <li class='mb-2 text-sm'>Influencer Price Calculator </li>
            <li class='mb-2 text-sm'>Instagram Fake Follower Checker</li>
            <li class='mb-2 text-sm'>TikTok Fake Follower Checker</li>
            <li class='mb-2 text-sm'>Instagram Engagement Rate Calculator</li>
            <li class='mb-2 text-sm'>TikTok Engagement Rate Calculator</li>
            <li class='mb-2 text-sm'>Influencer Campaign Brief Template</li>
            <li class='mb-2 text-sm'>Influencer Contract Template</li>
        </ul>
    </div>
    <div class='text-[#657784] font-Lufga'>
        <p class='font-bold text-lg mb-4'>Discover</p>
        <ul>
            <li class='mb-2 text-sm'>Find Influencers</li>
            <li class='mb-2 text-sm'>Top Influencers</li>
            <li class='mb-2 text-sm'>Search Influencers</li>
            <li class='mb-2 text-sm'>Buy Shoutouts</li>
        </ul>
    </div>
    <div class='text-[#657784] font-Lufga'>
        <p class='font-bold text-lg mb-4'>Support</p>
        <ul>
            <li class='mb-2 text-sm'>Contact Us</li>
            <li class='mb-2 text-sm'>How It Works</li>
            <li class='mb-2 text-sm'>Frequently Asked Questions</li>
        </ul>
    </div>
</div>
<div class='px-12 py-3 bg-[#081A20] text-[#657784] lg:flex md:block sm:block s:block justify-between'>
    <p class='font-Lufga'>Copyright © 2024 FANS EXPLORER All rights reserved.</p>
    <div class='flex font-Lufga'>
        <p class='pr-3'>Privacy</p>
        <p class='pr-3'> Terms </p>
        <p>Sitemap</p>
    </div>
</div>