<app-navbar></app-navbar>
<div
    class='realtive w-full py-12 lg:h-full md:h-[300px] sm:h-[250px] bg-about grid lg:grid-cols-12 md:grid-cols-1 sm:grid-cols-1 s:grid-cols-1 gap-6  bg-no-repeat bg-cover px-4'>
    <div class='col-span-1'></div>
    <div class='col-span-6 mx-auto self-center'>
        <h1
            class='font-Zuume lg:text-[88px] md:text-[65px] sm:text-[65px] s:text-[65px] font-bold leading-[0.8] uppercase text-white lg:text-left md:text-center sm:text-center s:text-center w-full'>
            Join us today for <br />
            <span class='text-[#FF007A]'> free </span> & <span class='text-[#FF007A]'> uncover </span> <br />
            a universe of users
        </h1>
        <p class='lg:text-left md:text-center sm:text-center s:text-center font-Lufga my-3 text-white'>We are recognized
            for exceeding client expectations and delivering great results through dedication and ease of process.</p>
        <div class='mb-4 lg:block md:hidden sm:hidden s:hidden'>
            <button
                class='bg-[#FF007A] text-white mr-3 font-Zuume px-6 py-3 font-light rounded-full text-[18px] rounded-ss-none'>Get
                Started</button>
            <button
                class='bg-transparent border-[1px] border-[#ffffff70] text-white font-Zuume font-light px-6 py-3 rounded-full text-[18px]'>Learn
                More</button>
        </div>
        <div class='w-full mb-4 lg:hidden md:block sm:block s:block'>
            <button
                class='bg-[#FF007A] text-white flex justify-center mb-4 mx-auto font-Zuume px-6 py-3 font-light rounded-full text-[18px] rounded-ss-none'>Get
                Started</button>
            <button
                class='bg-transparent border-[1px] flex justify-center mx-auto border-[#ffffff70] text-white font-Zuume font-light px-6 py-3 rounded-full text-[18px]'>Learn
                More</button>
        </div>
        <hr class='lg:block md:hidden sm:hidden s:hidden' />
        <div class='my-4  lg:flex md:hidden sm:hidden s:hidden'>
            <div class='mr-5'>
                <p class='uppercase font-Zuume text-[#CED8DF]'> <span class='text-white text-2xl font-bold'> 79 M +
                    </span> <br />
                    Video Views</p>
            </div>
            <div>
                <p class='uppercase font-Zuume text-[#CED8DF]'> <span class='text-white text-2xl font-bold'> 12 M +
                    </span> <br />
                    Followers</p>
            </div>
            <div class='ml-5'>
                <p class='uppercase font-Zuume text-[#CED8DF]'> <span class='text-white text-2xl font-bold'> 32 M +
                    </span> <br />
                    Likes</p>
            </div>
        </div>
    </div>
    <div class='col-span-5 my-7'>
        <img src='./assets/images/aboutBanner.png' alt='about' />
    </div>
</div>
<div class='bg-[#061115] py-5'>
    <p class='text-center font-Zuume text-[45px] font-bold leading-[0.8] uppercase text-white w-full'> <span
            class='text-[#BCC4C7]'> benefits </span> & impact</p>

    <div class='px-12'>
        <div class='grid lg:grid-cols-12 md:grid-cols-8 sm:grid-cols-8 s:grid-cols-4 gap-4 mt-5'>
            <div class='col-span-4 border-[1px] border-[#384144] rounded-se-[28px] py-8 px-4 text-white'>
                <img src='./assets/images/import1.png' class='w-[80px]' alt='importImage' />
                <p class='text-white font-Lufga my-4'>THE NSFW Social Media</p>
                <p class='text-[#657784] font-Lufga'>ModelSearcher is THE NSFW-friendly Social Media and Search-Site For
                    Your Only Fans – FOR FREE</p>
            </div>
            <div class='col-span-4 border-[1px] border-[#384144] rounded-se-[28px] py-8 px-4 text-white'>
                <img src='./assets/images/import2.png' class='w-[80px]' alt='importImage' />
                <p class='text-white font-Lufga my-4'>Profile Optimization</p>
                <p class='text-[#657784] font-Lufga'>ModelSearcher is THE NSFW-friendly Social Media and Search-Site For
                    Your Only Fans – FOR FREE</p>
            </div>
            <div class='col-span-4 border-[1px] border-[#384144] rounded-se-[28px] py-8 px-4 text-white'>
                <img src='./assets/images/import3.png' class='w-[80px]' alt='importImage' />
                <p class='text-white font-Lufga my-4'>Organic Growth</p>
                <p class='text-[#657784] font-Lufga'>ModelSearcher is THE NSFW-friendly Social Media and Search-Site For
                    Your Only Fans – FOR FREE</p>
            </div>
            <div class='col-span-4 border-[1px] border-[#384144] rounded-se-[28px] py-8 px-4 text-white'>
                <img src='./assets/images/import1.png' class='w-[80px]' alt='importImage' />
                <p class='text-white font-Lufga my-4'>THE NSFW Social Media</p>
                <p class='text-[#657784] font-Lufga'>ModelSearcher is THE NSFW-friendly Social Media and Search-Site For
                    Your Only Fans – FOR FREE</p>
            </div>
            <div class='col-span-4 border-[1px] border-[#384144] rounded-se-[28px] py-8 px-4 text-white'>
                <img src='./assets/images/import2.png' class='w-[80px]' alt='importImage' />
                <p class='text-white font-Lufga my-4'>Profile Optimization</p>
                <p class='text-[#657784] font-Lufga'>ModelSearcher is THE NSFW-friendly Social Media and Search-Site For
                    Your Only Fans – FOR FREE</p>
            </div>
            <div class='col-span-4 border-[1px] border-[#384144] rounded-se-[28px] py-8 px-4 text-white'>
                <img src='./assets/images/import3.png' class='w-[80px]' alt='importImage' />
                <p class='text-white font-Lufga my-4'>Organic Growth</p>
                <p class='text-[#657784] font-Lufga'>ModelSearcher is THE NSFW-friendly Social Media and Search-Site For
                    Your Only Fans – FOR FREE</p>
            </div>
        </div>
    </div>

    <div class='py-8 px-12'>
        <p class='text-center font-Zuume text-[45px] font-bold leading-[0.8] uppercase text-white w-full'> pricing plans
        </p>

        <div class='grid lg:grid-cols-12 md:grid-cols-4 sm:grid-cols-4 s:grid-cols-4 gap-4 mt-8'>
            <div class='col-span-4'>
                <div class='border-[1px] text-white border-[#384144] rounded-se-[40px]'>
                    <div class='px-5 py-6 border-b border-[#384144]'>
                        <p class='font-Lufga font-bold text-[#484E57]'>Starter</p>
                        <p class='font-Lufga text-[35px] font-semibold'>Free</p>
                    </div>
                    <div class='px-5 py-6'>
                        <p class='text-white font-Lufga flex mb-3'><img src='./assets/images/Stars.svg' class='mr-3'
                                alt='' /> 40
                            high-quality dummy point</p>
                        <p class='text-[#657784] font-Lufga flex mb-3'><img src='./assets/images/starDisable.svg'
                                class='mr-3' alt='' /> 1
                            different dummy point</p>
                        <p class='text-[#657784] font-Lufga flex'><img src='./assets/images/starDisable.svg'
                                class='mr-3' alt='' /> 2 hours
                            turnaround time dummy point </p>

                        <button class='font-Lufga border-[1px] border-[#FF007A] px-6 py-3 mt-5 rounded-full'>Buy
                            Now</button>
                    </div>

                </div>
            </div>
            <div class='col-span-4'>
                <div class='border-[1px] text-white border-[#384144] bg-[#081A20] rounded-se-[40px]'>
                    <div class='px-5 py-6 border-b border-[#384144]'>
                        <p class='font-Lufga font-bold text-[#484E57]'>Basic</p>
                        <p class='font-Lufga text-[35px] font-semibold'>$39 /mo</p>
                    </div>
                    <div class='px-5 py-6'>
                        <p class='text-white font-Lufga flex mb-3'><img src='./assets/images/Stars.svg' class='mr-3'
                                alt='' /> 40
                            high-quality dummy point</p>
                        <p class='text-white font-Lufga flex mb-3'><img src='./assets/images/Stars.svg' class='mr-3'
                                alt='' /> 1 different
                            dummy point</p>
                        <p class='text-[#657784] font-Lufga flex'><img src='./assets/images/starDisable.svg'
                                class='mr-3' alt='' /> 2 hours
                            turnaround time dummy point </p>

                        <button
                            class='border-[1px] font-Lufga border-[#FF007A] bg-[#FF007A] px-6 py-3 mt-5 rounded-full'>Buy
                            Now</button>
                    </div>

                </div>
            </div>
            <div class='col-span-4'>
                <div class='border-[1px] text-white border-[#384144] rounded-se-[40px]'>
                    <div class='px-5 py-6 border-b border-[#384144]'>
                        <p class='font-Lufga font-bold text-[#484E57]'>Premium</p>
                        <p class='font-Lufga text-[35px] font-semibold'>$59 /mo</p>
                    </div>
                    <div class='px-5 py-6'>
                        <p class='text-white font-Lufga flex mb-3'><img src='./assets/images/Stars.svg' class='mr-3'
                                alt='' /> 40
                            high-quality dummy point</p>
                        <p class='text-white font-Lufga flex mb-3'><img src='./assets/images/Stars.svg' class='mr-3'
                                alt='' /> 1 different
                            dummy point</p>
                        <p class='text-white font-Lufga flex'><img src='./assets/images/Stars.svg' class='mr-3'
                                alt='' /> 2 hours turnaround
                            time dummy point </p>

                        <button class='border-[1px] font-Lufga border-[#FF007A] px-6 py-3 mt-5 rounded-full'>Buy
                            Now</button>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class='mx-12 bg-[#081A20] my-8 px-12 py-8 rounded-3xl'>
        <p class='text-[#8A30E4] font-hallelujah mb-[-15px] text-[21px]'>Testimonials </p>
        <p class='font-Zuume uppercase font-bold text-white text-[65px]'> <span class='text-[#BCC4C7]'> What our </span>
            clients <span class='text-[#BCC4C7]'> say </span> about us</p>

        <div class='grid lg:grid-cols-12 md:grid-cols-4 sm:grid-cols-4 s:grid-cols-4  gap-4 mt-5'>
            <div class='col-span-4 border-[1px] rounded-2xl py-8 px-4'>
                <p class='text-white font-Lufga text-2xl'>Excellent Products <br />
                    and good delivery..</p>
                <p class='text-[#657784] font-Lufga'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <img src='./assets/images/rating.png' class='w-[120px] mb-4 mt-8' alt='star' />
                <p class='uppercase font-Zuume text-lg text-white'>Ronit Vinta</p>
            </div>
            <div class='col-span-4 border-[1px] rounded-2xl py-8 px-4'>
                <p class='text-white font-Lufga text-2xl'>Excellent Products <br />
                    and good delivery..</p>
                <p class='text-[#657784] font-Lufga'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <img src='./assets/images/rating.png' class='w-[120px] mb-4 mt-8' alt='star' />
                <p class='uppercase font-Zuume text-lg text-white'>Ronit Vinta</p>
            </div>
            <div class='col-span-4 border-[1px] rounded-2xl py-8 px-4'>
                <p class='text-white font-Lufga text-2xl'>Excellent Products <br />
                    and good delivery..</p>
                <p class='text-[#657784] font-Lufga'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <img src='./assets/images/rating.png' class='w-[120px] mb-4 mt-8' alt='star' />
                <p class='uppercase font-Zuume text-lg text-white'>Ronit Vinta</p>
            </div>
        </div>
    </div>
</div>

<div class='bg-[#061115] py-5'>
    <div class='text-center w-[60%] mx-auto'>
        <p class='text-[#58686D] font-hallelujah text-lg my-4'>In just a few simple steps, add your <span
                class='text-white'> OnlyFans, Instagram </span> and <br /> <span class='text-white'> TikTok </span>
            accounts and engage with our eager explorers</p>
    </div>
    <div class='bg-[#081A20] p-8 w-[90%] mx-auto mt-5'>
        <div class='grid lg:grid-cols-12 md:grid-cols-6 sm:grid-cols-6 s:grid-cols-6  gap-4'>
            <div class='col-span-6 self-center lg:border-r md:border-0 sm:border-0 s:border-0'>
                <p class='text-[#8A30E4] font-hallelujah mb-3 text-[21px]'>Sign Up </p>
                <p class='font-Zuume uppercase font-bold text-white text-[60px] leading-none'>Get started with Fans
                    Explorer</p>
                <p class='text-[#ffffffa6] font-Lufga mb-5'>Fill in the form and start advertising now:</p>
            </div>
            <div class='col-span-6'>
                <form>
                    <div class='grid grid-cols-12 gap-4'>
                        <div class='col-span-6'>
                            <input
                                class="!rounded-xl block px-4 py-4 w-full text-base font-semibold bg-transparent border-[1px]  border-gray-300 appearance-none peer"
                                type='text' placeholder='Name' />
                        </div>
                        <div class='col-span-6'>
                            <input
                                class="!rounded-xl block px-4 py-4 w-full text-base font-semibold bg-transparent border-[1px]  border-gray-300 appearance-none peer"
                                type='text' placeholder='Phone Number' />
                        </div>
                        <div class='col-span-6'>
                            <input
                                class="!rounded-xl block px-4 py-4 w-full text-base font-semibold bg-transparent border-[1px]  border-gray-300 appearance-none peer"
                                type="email" placeholder="email" />
                        </div>
                        <div class='col-span-6'>
                            <input
                                class="!rounded-xl block px-4 py-4 w-full text-base font-semibold bg-transparent border-[1px]  border-gray-300 appearance-none peer"
                                type='text' placeholder='Of Link' />
                        </div>
                        <div class='col-span-12'>
                            <button
                                class=' text-center bg-[#FF007A] font-Lufga font-bold text-white w-full p-4 rounded-full '>SIGN
                                UP</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>