<div class='absolute w-full grid lg:grid-cols-12 md:grid-cols-2 sm:grid-cols-2 px-20 md:px-20 md:pt-4 s:grid-cols-2 gap-1 md:text-center py-3 drop-shadow-2xl'>
    <div class='lg:col-span-3 md:col-span-1 sm:grid-cols-1 s:col-span-1'>
        <p (click)="navigateToHome()">
            <img src='./assets/images/Logo.png' class='w-[100px] self-center ml-3' alt='Logo' />
        </p>
    </div>
    <div class='lg:col-span-9 md:col-span-1 sm:grid-cols-1 s:col-span-1'>
        <div class='flex justify-end'>
            <p (click)="navigateToLogin()"
                class='md:hidden lg:block sm:hidden s:hidden border-[1px] border-[#FFFFFF80] p-3 rounded-full font-Lufga text-white'>
                Login In as a <b> Fan </b>
        </p>
            <p (click)="navigateToLogin()"
                class='md:hidden lg:block sm:hidden s:hidden bg-[#FF007A] border-[1px] border-[#FF007A] font-Lufga p-3 mx-4 text-white rounded-full'>
                Login In as a <b> Creator </b>
    </p>
            <img src='./assets/images/menu.svg' alt='menu' />
        </div>
    </div>
</div>

