.ngb-carousel {
    width: 100%;
    height: 400px;
    /* Adjust height as needed */
}

.ngb-carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.picsum-img-wrapper {
    width: 100%;
    height: 100%;
}

.rounded-se-28px {
    border-radius: 28px;
}