@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap'); */

@font-face {
    font-family: 'Zuume';
    src: url('./assets/font/Zuume-Regular.woff') format('woff'),
        url('./assets/font/Zuume-Regular.woff2') format('woff2');
}

.gloria-hallelujah {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
}

::-webkit-scrollbar {
    display: none;
}

span.visually-hidden {
    display: none;
}

@font-face {
    font-family: 'Lufga';
    src: url('./assets/font/Lufga-Regular.woff') format('woff'),
        url('./assets/font/Lufga-Regular.woff2') format('woff2');
}

.font-Zuume {
    font-family: 'Zuume', sans-serif;
}

.font-Lufga {
    font-family: 'Lufga', sans-serif;
}

.carousel-indicators {
    display: none;
}

.carousel-control-next-icon {
    background-image: url('./assets/images/right.svg');
    width: 4rem;
    height: 4rem;
}

.carousel-control-prev-icon {
    background-image: url('./assets/images/left.svg');
    width: 4rem;
    height: 4rem;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 1;
    top: unset;
}

.carousel-control-prev {
    left: -5px;
}

.carousel-control-next {
    right: -5px;
}

.App {
    text-align: center;
    font-family: 'Lufga', sans-serif;
}