<app-navbar></app-navbar>
<div
    class='realtive w-full lg:h-full md:h-[300px] sm:h-[250px] bg-hero-pattern flex  bg-no-repeat bg-cover min-h-screen p-4'>
    <div class='self-center w-[60%] mx-auto'>
        <h1
            class='font-Zuume lg:text-[110px] md:text-[55px] sm:text-[35px] font-[900] leading-[0.8] uppercase text-white text-center w-full'>
            Content Creator <br />
            Comparison</h1>
        <p class='text-center font-Lufga my-3 text-white'>We are recognized for exceeding client expectations and
            delivering <br /> great results through dedication and ease of process.</p>
        <div class='flex'>
            <input type="text"
                class='backdrop-blur-sm border-[1px]  w-full p-3 mr-3 rounded-xl border-[#FFFFFF80] bg-transparent'
                placeholder='Content Creator...' />
            <button class='backdrop-blur-sm border-[1px]  p-3 mr-3 rounded-xl border-[#FFFFFF80] bg-transparent'><img
                    src='./assets/images/Vector.svg' alt='serch' /></button>
        </div>
    </div>
</div>
<div class='bg-[#061115]'>
    <div class='w-[90%] mx-auto '>
        <div class='grid lg:grid-cols-12 md:grid-cols-2 sm:grid-cols-2 s:grid-cols-2  gap-2 p-8 bg-[#061115]'>
            <div class='lg:col-span-4 md:col-span-2 sm:col-span-2 s:col-span-2 self-center'>
                <p class='text-[#8A30E4] font-hallelujah mb-[-15px] text-[21px]'>Favorite</p>
                <p class='font-Zuume uppercase text-white text-[45px]'>categories</p>
                <p class='font-Lufga mb-3 text-white'>We are recognized for exceeding client expectations and
                    delivering great results through dedication and ease of process.</p>
            </div>
            <div class='col-span-2'>
                <div class='mx-2 bg-transparent'>
                    <img src='./assets/images/categories.png' alt='Fashion' />
                    <div
                        class='bg-[#0D161A] px-2 text-white flex justify-between py-2 border-[1px]  border-t-0 border-[#384144]'>
                        <p class='font-Lufga'> Fashion </p>
                        <img src='./assets/images/arrow.svg' alt='Fashion' />
                    </div>
                </div>
            </div>
            <div class='col-span-2'>
                <div class='mx-2'>
                    <img src='./assets/images/categories1.png' alt='Fashion' />
                    <div
                        class='bg-[#0D161A] px-2 text-white flex justify-between py-2 border-[1px]  border-t-0 border-[#384144]'>
                        <p class='font-Lufga'> Music & Dance </p>
                        <img src='./assets/images/arrow.svg' alt='Fashion' />
                    </div>
                </div>
            </div>
            <div class='col-span-2'>
                <div class='mx-2'>
                    <img src='./assets/images/categories2.png' alt='Fashion' />
                    <div
                        class='bg-[#0D161A] px-2 text-white flex justify-between py-2 border-[1px]  border-t-0 border-[#384144]'>
                        <p class='font-Lufga'> Beauty </p>
                        <img src='./assets/images/arrow.svg' alt='Fashion' />
                    </div>
                </div>
            </div>
            <div class='col-span-2'>
                <div class='mx-2'>
                    <img src='./assets/images/categories3.png' alt='Fashion' />
                    <div
                        class='bg-[#0D161A] px-2 text-white flex justify-between py-2 border-[1px]  border-t-0 border-[#384144]'>
                        <p class='font-Lufga'> Travel </p>
                        <img src='./assets/images/arrow.svg' alt='Fashion' />
                    </div>
                </div>
            </div>
        </div>


        <div class='px-12 py-8 bg-[#061115]'>
            <div class='text-center'>
                <p class='text-[#8A30E4] font-hallelujah mb-[-15px] text-[21px]'>Creators </p>
                <p class='font-Zuume uppercase text-white text-[45px]'>Profiles</p>
            </div>
            <div class='grid lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-1 s:grid-cols-1 gap-3'>
                <div class='p-1 border-[1px]  rounded-se-[28px] border-[#e7e7e763]'>
                    <div class='bg-[#0D161A] relative rounded-se-[28px]'>
                        <ngb-carousel>
                            <ng-template ngbSlide>
                                <div class="picsum-img-wrapper">
                                    <img src="./assets/images/profile (2).png" class="w-100 mx-auto rounded-se-28px"
                                        alt="item1">
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (3).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item2">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (1).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item3">
                            </ng-template>
                        </ngb-carousel>
                        <div
                            class='bg-[#071116bd] flex absolute top-0 right-0 rounded-se-[18px] rounded-es-[18px] p-[15px]'>
                            <img src='./assets/images/icons2.svg' class='cursor-pointer' alt='red' />
                            <div class='h-[16px] w-[1px] mx-3 bg-white'></div>
                            <img src='./assets/images/icons1.svg' class='cursor-pointer' alt='red' />
                        </div>
                        <div class='font-Lufga px-3 text-[#ffffffa6] py-3'>
                            <div class='flex justify-between w-full '>
                                <p class='mt-2 mb-2 text-[#ffff] font-Lufga font-medium text-lg'>Autumn Spooner</p>
                                <div class='flex justify-between w-1/5 self-center'>
                                    <img src='./assets/images/insta.svg' class='cursor-pointer w-5 h-5' alt='red' />
                                    <img src='./assets/images/tiktok.svg' class='cursor-pointer w-5 h-5' alt='red' />
                                </div>
                            </div>
                            <div class='text-[#ffffffa6] flex justify-around py-3'>
                                <div class='border-r pr-3 border-[#D9D9D9]'>
                                    <p>326 <br />
                                        Posts</p>
                                </div>
                                <div class='border-r pr-3 border-[#D9D9D9]'>
                                    <p>326 <br />
                                        Followers</p>
                                </div>
                                <div class=''>
                                    <p>96 <br />
                                        Following</p>
                                </div>
                            </div>
                            <p class='text-[#ffffffa6] font-semibold text-sm font-Lufga'>Autumn Spooner | ZL1BABE x
                                G80BABE</p>
                            <p class='font-[300] text-sm mb-3'>Video creator</p>
                            <p class='text-sm'>Camaro ZL1 & G80 M3 Competition 🏎️</p>
                            <!-- <p class='text-sm'>PR: autumnspoonerzl1@gmail.com</p>
                            <p class='text-sm'>I do YouTube :) click the link!</p> -->
                            <p class='text-sm'>🔗 superlink.io/zl1babe</p>
                        </div>
                    </div>
                </div>
                <div class='p-1 border-[1px]  rounded-se-[28px] border-[#e7e7e763]'>
                    <div class='bg-[#0D161A] relative rounded-se-[28px]'>
                        <ngb-carousel [showNavigationArrows]="true">
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (2).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item1">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (3).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item2">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (1).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item3">
                            </ng-template>
                        </ngb-carousel>
                        <div
                            class='bg-[#071116bd] flex absolute top-0 right-0 rounded-se-[18px] rounded-es-[18px] p-[15px]'>
                            <img src='./assets/images/icons2.svg' class='cursor-pointer' alt='red' />
                            <div class='h-[16px] w-[1px] mx-3 bg-white'></div>
                            <img src='./assets/images/icons1.svg' class='cursor-pointer' alt='red' />
                        </div>
                        <div class='font-Lufga px-3 text-[#ffffffa6] py-3'>
                            <div class='flex justify-between w-full '>
                                <p class='mt-2 mb-2 text-[#ffff] font-Lufga font-medium text-lg'>Autumn Spooner</p>
                                <div class='flex justify-between w-1/5 self-center'>
                                    <img src='./assets/images/insta.svg' class='cursor-pointer w-5 h-5' alt='red' />
                                    <img src='./assets/images/tiktok.svg' class='cursor-pointer w-5 h-5' alt='red' />
                                </div>
                            </div>
                            <div class='text-[#ffffffa6] flex justify-around py-3'>
                                <div class='border-r pr-3 border-[#D9D9D9]'>
                                    <p>326 <br />
                                        Posts</p>
                                </div>
                                <div class='border-r pr-3 border-[#D9D9D9]'>
                                    <p>326 <br />
                                        Followers</p>
                                </div>
                                <div class=''>
                                    <p>96 <br />
                                        Following</p>
                                </div>
                            </div>
                            <p class='text-[#ffffffa6] font-semibold text-sm font-Lufga'>Autumn Spooner | ZL1BABE x
                                G80BABE</p>
                            <p class='font-[300] text-sm mb-3'>Video creator</p>
                            <p class='text-sm'>Camaro ZL1 & G80 M3 Competition 🏎️</p>
                            <!-- <p class='text-sm'>PR: autumnspoonerzl1@gmail.com</p>
                            <p class='text-sm'>I do YouTube :) click the link!</p> -->
                            <p class='text-sm'>🔗 superlink.io/zl1babe</p>
                        </div>
                    </div>
                </div>
                <div class='p-1 border-[1px]  rounded-se-[28px] border-[#e7e7e763]'>
                    <div class='bg-[#0D161A] relative rounded-se-[28px]'>
                        <ngb-carousel [showNavigationArrows]="true">
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (2).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item1">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (3).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item2">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (1).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item3">
                            </ng-template>
                        </ngb-carousel>
                        <div
                            class='bg-[#071116bd] flex absolute top-0 right-0 rounded-se-[18px] rounded-es-[18px] p-[15px]'>
                            <img src='./assets/images/icons2.svg' class='cursor-pointer' alt='red' />
                            <div class='h-[16px] w-[1px] mx-3 bg-white'></div>
                            <img src='./assets/images/icons1.svg' class='cursor-pointer' alt='red' />
                        </div>
                        <div class='font-Lufga px-3 text-[#ffffffa6] py-3'>
                            <div class='flex justify-between w-full '>
                                <p class='mt-2 mb-2 text-[#ffff] font-Lufga font-medium text-lg'>Autumn Spooner</p>
                                <div class='flex justify-between w-1/5 self-center'>
                                    <img src='./assets/images/insta.svg' class='cursor-pointer w-5 h-5' alt='red' />
                                    <img src='./assets/images/tiktok.svg' class='cursor-pointer w-5 h-5' alt='red' />
                                </div>
                            </div>
                            <div class='text-[#ffffffa6] flex justify-around py-3'>
                                <div class='border-r pr-3 border-[#D9D9D9]'>
                                    <p>326 <br />
                                        Posts</p>
                                </div>
                                <div class='border-r pr-3 border-[#D9D9D9]'>
                                    <p>326 <br />
                                        Followers</p>
                                </div>
                                <div class=''>
                                    <p>96 <br />
                                        Following</p>
                                </div>
                            </div>
                            <p class='text-[#ffffffa6] font-semibold text-sm font-Lufga'>Autumn Spooner | ZL1BABE x
                                G80BABE</p>
                            <p class='font-[300] text-sm mb-3'>Video creator</p>
                            <p class='text-sm'>Camaro ZL1 & G80 M3 Competition 🏎️</p>
                            <!-- <p class='text-sm'>PR: autumnspoonerzl1@gmail.com</p>
                            <p class='text-sm'>I do YouTube :) click the link!</p> -->
                            <p class='text-sm'>🔗 superlink.io/zl1babe</p>
                        </div>
                    </div>
                </div>
                <div class='p-1 border-[1px]  rounded-se-[28px] border-[#e7e7e763]'>
                    <div class='bg-[#0D161A] relative rounded-se-[28px]'>
                        <ngb-carousel [showNavigationArrows]="true">
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (2).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item1">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (3).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item2">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (1).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item3">
                            </ng-template>
                        </ngb-carousel>
                        <div
                            class='bg-[#071116bd] flex absolute top-0 right-0 rounded-se-[18px] rounded-es-[18px] p-[15px]'>
                            <img src='./assets/images/icons2.svg' class='cursor-pointer' alt='red' />
                            <div class='h-[16px] w-[1px] mx-3 bg-white'></div>
                            <img src='./assets/images/icons1.svg' class='cursor-pointer' alt='red' />
                        </div>
                        <div class='font-Lufga px-3 text-[#ffffffa6] py-3'>
                            <div class='flex justify-between w-full '>
                                <p class='mt-2 mb-2 text-[#ffff] font-Lufga font-medium text-lg'>Autumn Spooner</p>
                                <div class='flex justify-between w-1/5 self-center'>
                                    <img src='./assets/images/insta.svg' class='cursor-pointer w-5 h-5' alt='red' />
                                    <img src='./assets/images/tiktok.svg' class='cursor-pointer w-5 h-5' alt='red' />
                                </div>
                            </div>
                            <div class='text-[#ffffffa6] flex justify-around py-3'>
                                <div class='border-r pr-3 border-[#D9D9D9]'>
                                    <p>326 <br />
                                        Posts</p>
                                </div>
                                <div class='border-r pr-3 border-[#D9D9D9]'>
                                    <p>326 <br />
                                        Followers</p>
                                </div>
                                <div class=''>
                                    <p>96 <br />
                                        Following</p>
                                </div>
                            </div>
                            <p class='text-[#ffffffa6] font-semibold text-sm font-Lufga'>Autumn Spooner | ZL1BABE x
                                G80BABE</p>
                            <p class='font-[300] text-sm mb-3'>Video creator</p>
                            <p class='text-sm'>Camaro ZL1 & G80 M3 Competition 🏎️</p>
                            <!-- <p class='text-sm'>PR: autumnspoonerzl1@gmail.com</p>
                            <p class='text-sm'>I do YouTube :) click the link!</p> -->
                            <p class='text-sm'>🔗 superlink.io/zl1babe</p>
                        </div>
                    </div>
                </div>
                <div class='p-1 border-[1px]  rounded-se-[28px] border-[#e7e7e763]'>
                    <div class='bg-[#0D161A] relative rounded-se-[28px]'>
                        <ngb-carousel [showNavigationArrows]="true">
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (2).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item1">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (3).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item2">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (1).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item3">
                            </ng-template>
                        </ngb-carousel>
                        <div
                            class='bg-[#071116bd] flex absolute top-0 right-0 rounded-se-[18px] rounded-es-[18px] p-[15px]'>
                            <img src='./assets/images/icons2.svg' class='cursor-pointer' alt='red' />
                            <div class='h-[16px] w-[1px] mx-3 bg-white'></div>
                            <img src='./assets/images/icons1.svg' class='cursor-pointer' alt='red' />
                        </div>
                        <div class='font-Lufga px-3 text-[#ffffffa6] py-3'>
                            <div class='flex justify-between w-full '>
                                <p class='mt-2 mb-2 text-[#ffff] font-Lufga font-medium text-lg'>Autumn Spooner</p>
                                <div class='flex justify-between w-1/5 self-center'>
                                    <img src='./assets/images/insta.svg' class='cursor-pointer w-5 h-5' alt='red' />
                                    <img src='./assets/images/tiktok.svg' class='cursor-pointer w-5 h-5' alt='red' />
                                </div>
                            </div>
                            <div class='text-[#ffffffa6] flex justify-around py-3'>
                                <div class='border-r pr-3 border-[#D9D9D9]'>
                                    <p>326 <br />
                                        Posts</p>
                                </div>
                                <div class='border-r pr-3 border-[#D9D9D9]'>
                                    <p>326 <br />
                                        Followers</p>
                                </div>
                                <div class=''>
                                    <p>96 <br />
                                        Following</p>
                                </div>
                            </div>
                            <p class='text-[#ffffffa6] font-semibold text-sm font-Lufga'>Autumn Spooner | ZL1BABE x
                                G80BABE</p>
                            <p class='font-[300] text-sm mb-3'>Video creator</p>
                            <p class='text-sm'>Camaro ZL1 & G80 M3 Competition 🏎️</p>
                            <!-- <p class='text-sm'>PR: autumnspoonerzl1@gmail.com</p>
                            <p class='text-sm'>I do YouTube :) click the link!</p> -->
                            <p class='text-sm'>🔗 superlink.io/zl1babe</p>
                        </div>
                    </div>
                </div>
                <div class='p-1 border-[1px]  rounded-se-[28px] border-[#e7e7e763]'>
                    <div class='bg-[#0D161A] relative rounded-se-[28px]'>
                        <ngb-carousel [showNavigationArrows]="true">
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (2).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item1">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (3).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item2">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (1).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item3">
                            </ng-template>
                        </ngb-carousel>
                        <div
                            class='bg-[#071116bd] flex absolute top-0 right-0 rounded-se-[18px] rounded-es-[18px] p-[15px]'>
                            <img src='./assets/images/icons2.svg' class='cursor-pointer' alt='red' />
                            <div class='h-[16px] w-[1px] mx-3 bg-white'></div>
                            <img src='./assets/images/icons1.svg' class='cursor-pointer' alt='red' />
                        </div>
                        <div class='font-Lufga px-3 text-[#ffffffa6] py-3'>
                            <div class='flex justify-between w-full '>
                                <p class='mt-2 mb-2 text-[#ffff] font-Lufga font-medium text-lg'>Autumn Spooner</p>
                                <div class='flex justify-between w-1/5 self-center'>
                                    <img src='./assets/images/insta.svg' class='cursor-pointer w-5 h-5' alt='red' />
                                    <img src='./assets/images/tiktok.svg' class='cursor-pointer w-5 h-5' alt='red' />
                                </div>
                            </div>
                            <div class='text-[#ffffffa6] flex justify-around py-3'>
                                <div class='border-r pr-3 border-[#D9D9D9]'>
                                    <p>326 <br />
                                        Posts</p>
                                </div>
                                <div class='border-r pr-3 border-[#D9D9D9]'>
                                    <p>326 <br />
                                        Followers</p>
                                </div>
                                <div class=''>
                                    <p>96 <br />
                                        Following</p>
                                </div>
                            </div>
                            <p class='text-[#ffffffa6] font-semibold text-sm font-Lufga'>Autumn Spooner | ZL1BABE x
                                G80BABE</p>
                            <p class='font-[300] text-sm mb-3'>Video creator</p>
                            <p class='text-sm'>Camaro ZL1 & G80 M3 Competition 🏎️</p>
                            <!-- <p class='text-sm'>PR: autumnspoonerzl1@gmail.com</p>
                            <p class='text-sm'>I do YouTube :) click the link!</p> -->
                            <p class='text-sm'>🔗 superlink.io/zl1babe</p>
                        </div>
                    </div>
                </div>
                <div class='p-1 border-[1px]  rounded-se-[28px] border-[#e7e7e763]'>
                    <div class='bg-[#0D161A] relative rounded-se-[28px]'>
                        <ngb-carousel [showNavigationArrows]="true">
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (2).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item1">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (3).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item2">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (1).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item3">
                            </ng-template>
                        </ngb-carousel>
                        <div
                            class='bg-[#071116bd] flex absolute top-0 right-0 rounded-se-[18px] rounded-es-[18px] p-[15px]'>
                            <img src='./assets/images/icons2.svg' class='cursor-pointer' alt='red' />
                            <div class='h-[16px] w-[1px] mx-3 bg-white'></div>
                            <img src='./assets/images/icons1.svg' class='cursor-pointer' alt='red' />
                        </div>
                        <div class='font-Lufga px-3 text-[#ffffffa6] py-3'>
                            <div class='flex justify-between w-full '>
                                <p class='mt-2 mb-2 text-[#ffff] font-Lufga font-medium text-lg'>Autumn Spooner</p>
                                <div class='flex justify-between w-1/5 self-center'>
                                    <img src='./assets/images/insta.svg' class='cursor-pointer w-5 h-5' alt='red' />
                                    <img src='./assets/images/tiktok.svg' class='cursor-pointer w-5 h-5' alt='red' />
                                </div>
                            </div>
                            <div class='text-[#ffffffa6] flex justify-around py-3'>
                                <div class='border-r pr-3 border-[#D9D9D9]'>
                                    <p>326 <br />
                                        Posts</p>
                                </div>
                                <div class='border-r pr-3 border-[#D9D9D9]'>
                                    <p>326 <br />
                                        Followers</p>
                                </div>
                                <div class=''>
                                    <p>96 <br />
                                        Following</p>
                                </div>
                            </div>
                            <p class='text-[#ffffffa6] font-semibold text-sm font-Lufga'>Autumn Spooner | ZL1BABE x
                                G80BABE</p>
                            <p class='font-[300] text-sm mb-3'>Video creator</p>
                            <p class='text-sm'>Camaro ZL1 & G80 M3 Competition 🏎️</p>
                            <!-- <p class='text-sm'>PR: autumnspoonerzl1@gmail.com</p>
                            <p class='text-sm'>I do YouTube :) click the link!</p> -->
                            <p class='text-sm'>🔗 superlink.io/zl1babe</p>
                        </div>
                    </div>
                </div>
                <div class='p-1 border-[1px]  rounded-se-[28px] border-[#e7e7e763]'>
                    <div class='bg-[#0D161A] relative rounded-se-[28px]'>
                        <ngb-carousel [showNavigationArrows]="true">
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (2).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item1">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (3).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item2">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (1).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item3">
                            </ng-template>
                        </ngb-carousel>
                        <div
                            class='bg-[#071116bd] flex absolute top-0 right-0 rounded-se-[18px] rounded-es-[18px] p-[15px]'>
                            <img src='./assets/images/icons2.svg' class='cursor-pointer' alt='red' />
                            <div class='h-[16px] w-[1px] mx-3 bg-white'></div>
                            <img src='./assets/images/icons1.svg' class='cursor-pointer' alt='red' />
                        </div>
                        <div class='font-Lufga px-3 text-[#ffffffa6] py-3'>
                            <div class='flex justify-between w-full '>
                                <p class='mt-2 mb-2 text-[#ffff] font-Lufga font-medium text-lg'>Autumn Spooner</p>
                                <div class='flex justify-between w-1/5 self-center'>
                                    <img src='./assets/images/insta.svg' class='cursor-pointer w-5 h-5' alt='red' />
                                    <img src='./assets/images/tiktok.svg' class='cursor-pointer w-5 h-5' alt='red' />
                                </div>
                            </div>
                            <div class='text-[#ffffffa6] flex justify-around py-3'>
                                <div class='border-r pr-3 border-[#D9D9D9]'>
                                    <p>326 <br />
                                        Posts</p>
                                </div>
                                <div class='border-r pr-3 border-[#D9D9D9]'>
                                    <p>326 <br />
                                        Followers</p>
                                </div>
                                <div class=''>
                                    <p>96 <br />
                                        Following</p>
                                </div>
                            </div>
                            <p class='text-[#ffffffa6] font-semibold text-sm font-Lufga'>Autumn Spooner | ZL1BABE x
                                G80BABE</p>
                            <p class='font-[300] text-sm mb-3'>Video creator</p>
                            <p class='text-sm'>Camaro ZL1 & G80 M3 Competition 🏎️</p>
                            <!-- <p class='text-sm'>PR: autumnspoonerzl1@gmail.com</p>
                            <p class='text-sm'>I do YouTube :) click the link!</p> -->
                            <p class='text-sm'>🔗 superlink.io/zl1babe</p>
                        </div>
                    </div>
                </div>
                <div class='p-1 border-[1px]  rounded-se-[28px] border-[#e7e7e763]'>
                    <div class='bg-[#0D161A] relative rounded-se-[28px]'>
                        <ngb-carousel [showNavigationArrows]="true">
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (2).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item1">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (3).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item2">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (1).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item3">
                            </ng-template>
                        </ngb-carousel>
                        <div
                            class='bg-[#071116bd] flex absolute top-0 right-0 rounded-se-[18px] rounded-es-[18px] p-[15px]'>
                            <img src='./assets/images/icons2.svg' class='cursor-pointer' alt='red' />
                            <div class='h-[16px] w-[1px] mx-3 bg-white'></div>
                            <img src='./assets/images/icons1.svg' class='cursor-pointer' alt='red' />
                        </div>
                        <div class='font-Lufga px-3 text-[#ffffffa6] py-3'>
                            <div class='flex justify-between w-full '>
                                <p class='mt-2 mb-2 text-[#ffff] font-Lufga font-medium text-lg'>Autumn Spooner</p>
                                <div class='flex justify-between w-1/5 self-center'>
                                    <img src='./assets/images/insta.svg' class='cursor-pointer w-5 h-5' alt='red' />
                                    <img src='./assets/images/tiktok.svg' class='cursor-pointer w-5 h-5' alt='red' />
                                </div>
                            </div>
                            <div class='text-[#ffffffa6] flex justify-around py-3'>
                                <div class='border-r pr-3 border-[#D9D9D9]'>
                                    <p>326 <br />
                                        Posts</p>
                                </div>
                                <div class='border-r pr-3 border-[#D9D9D9]'>
                                    <p>326 <br />
                                        Followers</p>
                                </div>
                                <div class=''>
                                    <p>96 <br />
                                        Following</p>
                                </div>
                            </div>
                            <p class='text-[#ffffffa6] font-semibold text-sm font-Lufga'>Autumn Spooner | ZL1BABE x
                                G80BABE</p>
                            <p class='font-[300] text-sm mb-3'>Video creator</p>
                            <p class='text-sm'>Camaro ZL1 & G80 M3 Competition 🏎️</p>
                            <!-- <p class='text-sm'>PR: autumnspoonerzl1@gmail.com</p>
                            <p class='text-sm'>I do YouTube :) click the link!</p> -->
                            <p class='text-sm'>🔗 superlink.io/zl1babe</p>
                        </div>
                    </div>
                </div>
                <div class='p-1 border-[1px]  rounded-se-[28px] border-[#e7e7e763]'>
                    <div class='bg-[#0D161A] relative rounded-se-[28px]'>
                        <ngb-carousel [showNavigationArrows]="true">
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (2).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item1">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (3).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item2">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (1).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item3">
                            </ng-template>
                        </ngb-carousel>
                        <div
                            class='bg-[#071116bd] flex absolute top-0 right-0 rounded-se-[18px] rounded-es-[18px] p-[15px]'>
                            <img src='./assets/images/icons2.svg' class='cursor-pointer' alt='red' />
                            <div class='h-[16px] w-[1px] mx-3 bg-white'></div>
                            <img src='./assets/images/icons1.svg' class='cursor-pointer' alt='red' />
                        </div>
                        <div class='font-Lufga px-3 text-[#ffffffa6] py-3'>
                            <div class='flex justify-between w-full '>
                                <p class='mt-2 mb-2 text-[#ffff] font-Lufga font-medium text-lg'>Autumn Spooner</p>
                                <div class='flex justify-between w-1/5 self-center'>
                                    <img src='./assets/images/insta.svg' class='cursor-pointer w-5 h-5' alt='red' />
                                    <img src='./assets/images/tiktok.svg' class='cursor-pointer w-5 h-5' alt='red' />
                                </div>
                            </div>
                            <div class='text-[#ffffffa6] flex justify-around py-3'>
                                <div class='border-r pr-3 border-[#D9D9D9]'>
                                    <p>326 <br />
                                        Posts</p>
                                </div>
                                <div class='border-r pr-3 border-[#D9D9D9]'>
                                    <p>326 <br />
                                        Followers</p>
                                </div>
                                <div class=''>
                                    <p>96 <br />
                                        Following</p>
                                </div>
                            </div>
                            <p class='text-[#ffffffa6] font-semibold text-sm font-Lufga'>Autumn Spooner | ZL1BABE x
                                G80BABE</p>
                            <p class='font-[300] text-sm mb-3'>Video creator</p>
                            <p class='text-sm'>Camaro ZL1 & G80 M3 Competition 🏎️</p>
                            <!-- <p class='text-sm'>PR: autumnspoonerzl1@gmail.com</p>
                            <p class='text-sm'>I do YouTube :) click the link!</p> -->
                            <p class='text-sm'>🔗 superlink.io/zl1babe</p>
                        </div>
                    </div>
                </div>
                <div class='p-1 border-[1px]  rounded-se-[28px] border-[#e7e7e763]'>
                    <div class='bg-[#0D161A] relative rounded-se-[28px]'>
                        <ngb-carousel [showNavigationArrows]="true">
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (2).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item1">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (3).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item2">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (1).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item3">
                            </ng-template>
                        </ngb-carousel>
                        <div
                            class='bg-[#071116bd] flex absolute top-0 right-0 rounded-se-[18px] rounded-es-[18px] p-[15px]'>
                            <img src='./assets/images/icons2.svg' class='cursor-pointer' alt='red' />
                            <div class='h-[16px] w-[1px] mx-3 bg-white'></div>
                            <img src='./assets/images/icons1.svg' class='cursor-pointer' alt='red' />
                        </div>
                        <div class='font-Lufga px-3 text-[#ffffffa6] py-3'>
                            <div class='flex justify-between w-full '>
                                <p class='mt-2 mb-2 text-[#ffff] font-Lufga font-medium text-lg'>Autumn Spooner</p>
                                <div class='flex justify-between w-1/5 self-center'>
                                    <img src='./assets/images/insta.svg' class='cursor-pointer w-5 h-5' alt='red' />
                                    <img src='./assets/images/tiktok.svg' class='cursor-pointer w-5 h-5' alt='red' />
                                </div>
                            </div>
                            <div class='text-[#ffffffa6] flex justify-around py-3'>
                                <div class='border-r pr-3 border-[#D9D9D9]'>
                                    <p>326 <br />
                                        Posts</p>
                                </div>
                                <div class='border-r pr-3 border-[#D9D9D9]'>
                                    <p>326 <br />
                                        Followers</p>
                                </div>
                                <div class=''>
                                    <p>96 <br />
                                        Following</p>
                                </div>
                            </div>
                            <p class='text-[#ffffffa6] font-semibold text-sm font-Lufga'>Autumn Spooner | ZL1BABE x
                                G80BABE</p>
                            <p class='font-[300] text-sm mb-3'>Video creator</p>
                            <p class='text-sm'>Camaro ZL1 & G80 M3 Competition 🏎️</p>
                            <!-- <p class='text-sm'>PR: autumnspoonerzl1@gmail.com</p>
                            <p class='text-sm'>I do YouTube :) click the link!</p> -->
                            <p class='text-sm'>🔗 superlink.io/zl1babe</p>
                        </div>
                    </div>
                </div>
                <div class='p-1 border-[1px]  rounded-se-[28px] border-[#e7e7e763]'>
                    <div class='bg-[#0D161A] relative rounded-se-[28px]'>
                        <ngb-carousel [showNavigationArrows]="true">
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (2).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item1">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (3).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item2">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/images/profile (1).png" class="w-100 mx-auto rounded-se-28px"
                                    alt="item3">
                            </ng-template>
                        </ngb-carousel>
                        <div
                            class='bg-[#071116bd] flex absolute top-0 right-0 rounded-se-[18px] rounded-es-[18px] p-[15px]'>
                            <img src='./assets/images/icons2.svg' class='cursor-pointer' alt='red' />
                            <div class='h-[16px] w-[1px] mx-3 bg-white'></div>
                            <img src='./assets/images/icons1.svg' class='cursor-pointer' alt='red' />
                        </div>
                        <div class='font-Lufga px-3 text-[#ffffffa6] py-3'>
                            <div class='flex justify-between w-full '>
                                <p class='mt-2 mb-2 text-[#ffff] font-Lufga font-medium text-lg'>Autumn Spooner</p>
                                <div class='flex justify-between w-1/5 self-center'>
                                    <img src='./assets/images/insta.svg' class='cursor-pointer w-5 h-5' alt='red' />
                                    <img src='./assets/images/tiktok.svg' class='cursor-pointer w-5 h-5' alt='red' />
                                </div>
                            </div>
                            <div class='text-[#ffffffa6] flex justify-around py-3'>
                                <div class='border-r pr-3 border-[#D9D9D9]'>
                                    <p>326 <br />
                                        Posts</p>
                                </div>
                                <div class='border-r pr-3 border-[#D9D9D9]'>
                                    <p>326 <br />
                                        Followers</p>
                                </div>
                                <div class=''>
                                    <p>96 <br />
                                        Following</p>
                                </div>
                            </div>
                            <p class='text-[#ffffffa6] font-semibold text-sm font-Lufga'>Autumn Spooner | ZL1BABE x
                                G80BABE</p>
                            <p class='font-[300] text-sm mb-3'>Video creator</p>
                            <p class='text-sm'>Camaro ZL1 & G80 M3 Competition 🏎️</p>
                            <!-- <p class='text-sm'>PR: autumnspoonerzl1@gmail.com</p>
                            <p class='text-sm'>I do YouTube :) click the link!</p> -->
                            <p class='text-sm'>🔗 superlink.io/zl1babe</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class='text-center mt-8'>
                <button class='bg-[#FF007A] py-2 px-4 text-white font-Lufga rounded-full'>Load More</button>
            </div>
        </div>

        <div class='grid lg:grid-cols-12 md:grid-cols-1 sm:grid-cols-1 s:grid-cols-1 gap-2 px-12 py-8 bg-[#061115]'>
            <div class='lg:col-span-4 md:col-span-1 sm:col-span-1 s:col-span-1 self-center'>
                <p class='text-[#8A30E4] font-hallelujah mb-[5px] text-[21px]'>Sign up</p>
                <p class='font-Zuume uppercase text-white leading-none text-[45px]'>Start comparison <br /> Your
                    favourite <br /> Creator Today</p>
                <p class='font-Lufga mb-3 text-white'>Are you ready to make your business more organized? Download
                    Spend.In now!</p>
                <div class=' mt-3'>
                    <button class='bg-[#FF007A] py-2 px-4 text-white font-Lufga rounded-full'>Sign Up Now</button>
                </div>
            </div>
            <div class='lg:col-span-8 md:col-span-1 sm:col-span-1 s:col-span-1 '>
                <img src='./assets/images/banner1.png' alt='banner1' />
            </div>
        </div>

        <div class='bg-[#061115] pb-12'>
            <div
                class='text-left w-[100%] mx-auto lg:bg-[#081A20] md:bg-transparent sm:bg-transparent s:bg-transparent lg:px-8 md:px-0 sm:px-0 s:px-0 py-12 rounded-3xl'>
                <div class='lg:w-[80%] md:w-[90%] sm:w-[90%] s:w-[90%] mx-auto'>
                    <p class='text-[#8A30E4] font-hallelujah mb-[-15px] text-[21px]'>Faq’s </p>
                    <p class='font-Zuume uppercase font-bold text-white text-[65px]'>frequently asked questions</p>
                    <p class='text-[#ffffffa6] font-Lufga mb-5'>Are you ready to make your business more organized?
                        Download Spend.In now!</p>

                    <app-accordion-directive [items]="accordionItems"></app-accordion-directive>
                    <!-- <app-accordion-directive [items]="accordionItems"></app-accordion-directive> -->
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>