<app-navbar></app-navbar>
<div class='realtive w-full py-12 lg:h-full md:h-[300px] sm:h-[250px] bg-about bg-no-repeat bg-cover p-4'>
    <div class='px-20 w-full flex mt-5 mb-8'>
        <div>
            <img src='./assets/images/user.svg' class='max-w-[100px] h-[100px]' alt='user' />
        </div>
        <div class='self-center pl-5'>
            <p class='text-[#8A30E4] font-hallelujah mb-[-15px] text-[21px]'>User Account</p>
            <p class='font-Zuume uppercase text-white text-[45px]'>Thomas Kris </p>
        </div>
        <div class='self-center ml-5'>
            <button class='font-Lufga border border-[#8A30E4] px-6 py-3 mt-2 text-[#8A30E4] rounded-full'>Edit</button>
        </div>
    </div>
    <div class='px-20'>
        <hr />
        <p class='font-Zuume uppercase text-white font-bold text-[45px] text-center mt-5'>favorite content creators</p>
        <div class='grid lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-1 s:grid-cols-1 gap-3'>
            <div class='p-1 border rounded-se-[28px] border-[#e7e7e763]'>
                <div class='bg-[#0D161A] relative rounded-se-[28px]'>
                    <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true">
                        <ng-template ngbSlide>
                            <img src='./assets/images/profile (5).png' class='w-full mx-auto rounded-se-[28px]'
                                alt='item1' />
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src='./assets/images/profile (2).png' class='w-full mx-auto rounded-se-[28px]'
                                alt='item1' />
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src='./assets/images/profile (3).png' class='w-full mx-auto rounded-se-[28px]'
                                alt='item1' />
                        </ng-template>
                    </ngb-carousel>
                    <div
                        class='bg-[#071116bd] flex absolute top-0 right-0 rounded-se-[18px] rounded-es-[18px] p-[15px]'>
                        <img src='./assets/images/icons2.svg' class='cursor-pointer' alt='red' />
                        <div class='h-[16px] w-[1px] mx-3 bg-white'></div>
                        <img src='./assets/images/icons1.svg' class='cursor-pointer' alt='red' />
                    </div>
                    <div class='font-Lufga px-3 text-[#ffffffa6] py-3'>
                        <div class='flex justify-between w-full '>
                            <p class='mt-2 mb-2 text-[#ffff] font-Lufga font-medium text-lg'>Autumn Spooner</p>
                            <div class='flex justify-between w-1/5 self-center'>
                                <img src='./assets/images/insta.svg' class='cursor-pointer w-5 h-5' alt='red' />
                                <img src='./assets/images/tiktok.svg' class='cursor-pointer w-5 h-5' alt='red' />
                            </div>
                        </div>
                        <div class='text-[#ffffffa6] flex justify-around py-3'>
                            <div class='border-r pr-3 border-[#D9D9D9]'>
                                <p>326 <br />
                                    Posts</p>
                            </div>
                            <div class='border-r pr-3 border-[#D9D9D9]'>
                                <p>326 <br />
                                    Followers</p>
                            </div>
                            <div class=''>
                                <p>96 <br />
                                    Following</p>
                            </div>
                        </div>
                        <p class='text-[#ffffffa6] font-semibold text-sm font-Lufga'>Autumn Spooner | ZL1BABE x G80BABE
                        </p>
                        <p class='font-[300] text-sm mb-3'>Video creator</p>
                        <p class='text-sm'>Camaro ZL1 & G80 M3 Competition 🏎️</p>
                        <!-- <p class='text-sm'>PR: autumnspoonerzl1@gmail.com</p>
                        <p class='text-sm'>I do YouTube :) click the link!</p> -->
                        <p class='text-sm'>🔗 superlink.io/zl1babe</p>
                    </div>
                </div>
            </div>
            <div class='p-1 border rounded-se-[28px] border-[#e7e7e763]'>
                <div class='bg-[#0D161A] relative rounded-se-[28px]'>
                    <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true">
                        <ng-template ngbSlide>
                            <img src='./assets/images/profile (6).png' class='w-full mx-auto rounded-se-[28px]'
                                alt='item1' />
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src='./assets/images/profile (2).png' class='w-full mx-auto rounded-se-[28px]'
                                alt='item1' />
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src='./assets/images/profile (1).png' class='w-full mx-auto rounded-se-[28px]'
                                alt='item1' />
                        </ng-template>
                    </ngb-carousel>
                    <div
                        class='bg-[#071116bd] flex absolute top-0 right-0 rounded-se-[18px] rounded-es-[18px] p-[15px]'>
                        <img src='./assets/images/icons2.svg' class='cursor-pointer' alt='red' />
                        <div class='h-[16px] w-[1px] mx-3 bg-white'></div>
                        <img src='./assets/images/icons1.svg' class='cursor-pointer' alt='red' />
                    </div>
                    <div class='font-Lufga px-3 text-[#ffffffa6] py-3'>
                        <div class='flex justify-between w-full '>
                            <p class='mt-2 mb-2 text-[#ffff] font-Lufga font-medium text-lg'>Autumn Spooner</p>
                            <div class='flex justify-between w-1/5 self-center'>
                                <img src='./assets/images/insta.svg' class='cursor-pointer w-5 h-5' alt='red' />
                                <img src='./assets/images/tiktok.svg' class='cursor-pointer w-5 h-5' alt='red' />
                            </div>
                        </div>
                        <div class='text-[#ffffffa6] flex justify-around py-3'>
                            <div class='border-r pr-3 border-[#D9D9D9]'>
                                <p>326 <br />
                                    Posts</p>
                            </div>
                            <div class='border-r pr-3 border-[#D9D9D9]'>
                                <p>326 <br />
                                    Followers</p>
                            </div>
                            <div class=''>
                                <p>96 <br />
                                    Following</p>
                            </div>
                        </div>
                        <p class='text-[#ffffffa6] font-semibold text-sm font-Lufga'>Autumn Spooner | ZL1BABE x G80BABE
                        </p>
                        <p class='font-[300] text-sm mb-3'>Video creator</p>
                        <p class='text-sm'>Camaro ZL1 & G80 M3 Competition 🏎️</p>
                        <!-- <p class='text-sm'>PR: autumnspoonerzl1@gmail.com</p>
                        <p class='text-sm'>I do YouTube :) click the link!</p> -->
                        <p class='text-sm'>🔗 superlink.io/zl1babe</p>
                    </div>
                </div>
            </div>
            <div class='p-1 border rounded-se-[28px] border-[#e7e7e763]'>
                <div class='bg-[#0D161A] relative rounded-se-[28px]'>
                    <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true">
                        <ng-template ngbSlide>
                            <img src='./assets/images/profile (7).png' class='w-full mx-auto rounded-se-[28px]'
                                alt='item1' />
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src='./assets/images/profile (2).png' class='w-full mx-auto rounded-se-[28px]'
                                alt='item1' />
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src='./assets/images/profile (1).png' class='w-full mx-auto rounded-se-[28px]'
                                alt='item1' />
                        </ng-template>
                    </ngb-carousel>
                    <div
                        class='bg-[#071116bd] flex absolute top-0 right-0 rounded-se-[18px] rounded-es-[18px] p-[15px]'>
                        <img src='./assets/images/icons2.svg' class='cursor-pointer' alt='red' />
                        <div class='h-[16px] w-[1px] mx-3 bg-white'></div>
                        <img src='./assets/images/icons1.svg' class='cursor-pointer' alt='red' />
                    </div>
                    <div class='font-Lufga px-3 text-[#ffffffa6] py-3'>
                        <div class='flex justify-between w-full '>
                            <p class='mt-2 mb-2 text-[#ffff] font-Lufga font-medium text-lg'>Autumn Spooner</p>
                            <div class='flex justify-between w-1/5 self-center'>
                                <img src='./assets/images/insta.svg' class='cursor-pointer w-5 h-5' alt='red' />
                                <img src='./assets/images/tiktok.svg' class='cursor-pointer w-5 h-5' alt='red' />
                            </div>
                        </div>
                        <div class='text-[#ffffffa6] flex justify-around py-3'>
                            <div class='border-r pr-3 border-[#D9D9D9]'>
                                <p>326 <br />
                                    Posts</p>
                            </div>
                            <div class='border-r pr-3 border-[#D9D9D9]'>
                                <p>326 <br />
                                    Followers</p>
                            </div>
                            <div class=''>
                                <p>96 <br />
                                    Following</p>
                            </div>
                        </div>
                        <p class='text-[#ffffffa6] font-semibold text-sm font-Lufga'>Autumn Spooner | ZL1BABE x G80BABE
                        </p>
                        <p class='font-[300] text-sm mb-3'>Video creator</p>
                        <p class='text-sm'>Camaro ZL1 & G80 M3 Competition 🏎️</p>
                        <!-- <p class='text-sm'>PR: autumnspoonerzl1@gmail.com</p>
                        <p class='text-sm'>I do YouTube :) click the link!</p> -->
                        <p class='text-sm'>🔗 superlink.io/zl1babe</p>
                    </div>
                </div>
            </div>
            <div class='p-1 border rounded-se-[28px] border-[#e7e7e763]'>
                <div class='bg-[#0D161A] relative rounded-se-[28px]'>
                    <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true">
                        <ng-template ngbSlide>
                            <img src='./assets/images/profile (8).png' class='w-full mx-auto rounded-se-[28px]'
                                alt='item1' />
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src='./assets/images/profile (2).png' class='w-full mx-auto rounded-se-[28px]'
                                alt='item1' />
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src='./assets/images/profile (1).png' class='w-full mx-auto rounded-se-[28px]'
                                alt='item1' />
                        </ng-template>
                    </ngb-carousel>
                    <div
                        class='bg-[#071116bd] flex absolute top-0 right-0 rounded-se-[18px] rounded-es-[18px] p-[15px]'>
                        <img src='./assets/images/icons2.svg' class='cursor-pointer' alt='red' />
                        <div class='h-[16px] w-[1px] mx-3 bg-white'></div>
                        <img src='./assets/images/icons1.svg' class='cursor-pointer' alt='red' />
                    </div>
                    <div class='font-Lufga px-3 text-[#ffffffa6] py-3'>
                        <div class='flex justify-between w-full '>
                            <p class='mt-2 mb-2 text-[#ffff] font-Lufga font-medium text-lg'>Autumn Spooner</p>
                            <div class='flex justify-between w-1/5 self-center'>
                                <img src='./assets/images/insta.svg' class='cursor-pointer w-5 h-5' alt='red' />
                                <img src='./assets/images/tiktok.svg' class='cursor-pointer w-5 h-5' alt='red' />
                            </div>
                        </div>
                        <div class='text-[#ffffffa6] flex justify-around py-3'>
                            <div class='border-r pr-3 border-[#D9D9D9]'>
                                <p>326 <br />
                                    Posts</p>
                            </div>
                            <div class='border-r pr-3 border-[#D9D9D9]'>
                                <p>326 <br />
                                    Followers</p>
                            </div>
                            <div class=''>
                                <p>96 <br />
                                    Following</p>
                            </div>
                        </div>
                        <p class='text-[#ffffffa6] font-semibold text-sm font-Lufga'>Autumn Spooner | ZL1BABE x G80BABE
                        </p>
                        <p class='font-[300] text-sm mb-3'>Video creator</p>
                        <p class='text-sm'>Camaro ZL1 & G80 M3 Competition 🏎️</p>
                        <!-- <p class='text-sm'>PR: autumnspoonerzl1@gmail.com</p>
                        <p class='text-sm'>I do YouTube :) click the link!</p> -->
                        <p class='text-sm'>🔗 superlink.io/zl1babe</p>
                    </div>
                </div>
            </div>
            <div class='p-1 border rounded-se-[28px] border-[#e7e7e763]'>
                <div class='bg-[#0D161A] relative rounded-se-[28px]'>
                    <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true">
                        <ng-template ngbSlide>
                            <img src='./assets/images/profile (9).png' class='w-full mx-auto rounded-se-[28px]'
                                alt='item1' />
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src='./assets/images/profile (2).png' class='w-full mx-auto rounded-se-[28px]'
                                alt='item1' />
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src='./assets/images/profile (3).png' class='w-full mx-auto rounded-se-[28px]'
                                alt='item1' />
                        </ng-template>
                    </ngb-carousel>
                    <div
                        class='bg-[#071116bd] flex absolute top-0 right-0 rounded-se-[18px] rounded-es-[18px] p-[15px]'>
                        <img src='./assets/images/icons2.svg' class='cursor-pointer' alt='red' />
                        <div class='h-[16px] w-[1px] mx-3 bg-white'></div>
                        <img src='./assets/images/icons1.svg' class='cursor-pointer' alt='red' />
                    </div>
                    <div class='font-Lufga px-3 text-[#ffffffa6] py-3'>
                        <div class='flex justify-between w-full '>
                            <p class='mt-2 mb-2 text-[#ffff] font-Lufga font-medium text-lg'>Autumn Spooner</p>
                            <div class='flex justify-between w-1/5 self-center'>
                                <img src='./assets/images/insta.svg' class='cursor-pointer w-5 h-5' alt='red' />
                                <img src='./assets/images/tiktok.svg' class='cursor-pointer w-5 h-5' alt='red' />
                            </div>
                        </div>
                        <div class='text-[#ffffffa6] flex justify-around py-3'>
                            <div class='border-r pr-3 border-[#D9D9D9]'>
                                <p>326 <br />
                                    Posts</p>
                            </div>
                            <div class='border-r pr-3 border-[#D9D9D9]'>
                                <p>326 <br />
                                    Followers</p>
                            </div>
                            <div class=''>
                                <p>96 <br />
                                    Following</p>
                            </div>
                        </div>
                        <p class='text-[#ffffffa6] font-semibold text-sm font-Lufga'>Autumn Spooner | ZL1BABE x
                            G80BABE
                        </p>
                        <p class='font-[300] text-sm mb-3'>Video creator</p>
                        <p class='text-sm'>Camaro ZL1 & G80 M3 Competition 🏎️</p>
                        <!-- <p class='text-sm'>PR: autumnspoonerzl1@gmail.com</p>
                        <p class='text-sm'>I do YouTube :) click the link!</p> -->
                        <p class='text-sm'>🔗 superlink.io/zl1babe</p>
                    </div>
                </div>
            </div>
            <div class='p-1 border rounded-se-[28px] border-[#e7e7e763]'>
                <div class='bg-[#0D161A] relative rounded-se-[28px]'>
                    <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true">
                        <ng-template ngbSlide>
                            <img src='./assets/images/profile (1).png' class='w-full mx-auto rounded-se-[28px]'
                                alt='item1' />
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src='./assets/images/profile (2).png' class='w-full mx-auto rounded-se-[28px]'
                                alt='item1' />
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src='./assets/images/profile (1).png' class='w-full mx-auto rounded-se-[28px]'
                                alt='item1' />
                        </ng-template>
                    </ngb-carousel>
                    <div
                        class='bg-[#071116bd] flex absolute top-0 right-0 rounded-se-[18px] rounded-es-[18px] p-[15px]'>
                        <img src='./assets/images/icons2.svg' class='cursor-pointer' alt='red' />
                        <div class='h-[16px] w-[1px] mx-3 bg-white'></div>
                        <img src='./assets/images/icons1.svg' class='cursor-pointer' alt='red' />
                    </div>
                    <div class='font-Lufga px-3 text-[#ffffffa6] py-3'>
                        <div class='flex justify-between w-full '>
                            <p class='mt-2 mb-2 text-[#ffff] font-Lufga font-medium text-lg'>Autumn Spooner</p>
                            <div class='flex justify-between w-1/5 self-center'>
                                <img src='./assets/images/insta.svg' class='cursor-pointer w-5 h-5' alt='red' />
                                <img src='./assets/images/tiktok.svg' class='cursor-pointer w-5 h-5' alt='red' />
                            </div>
                        </div>
                        <div class='text-[#ffffffa6] flex justify-around py-3'>
                            <div class='border-r pr-3 border-[#D9D9D9]'>
                                <p>326 <br />
                                    Posts</p>
                            </div>
                            <div class='border-r pr-3 border-[#D9D9D9]'>
                                <p>326 <br />
                                    Followers</p>
                            </div>
                            <div class=''>
                                <p>96 <br />
                                    Following</p>
                            </div>
                        </div>
                        <p class='text-[#ffffffa6] font-semibold text-sm font-Lufga'>Autumn Spooner | ZL1BABE x G80BABE
                        </p>
                        <p class='font-[300] text-sm mb-3'>Video creator</p>
                        <p class='text-sm'>Camaro ZL1 & G80 M3 Competition 🏎️</p>
                        <!-- <p class='text-sm'>PR: autumnspoonerzl1@gmail.com</p>
                        <p class='text-sm'>I do YouTube :) click the link!</p> -->
                        <p class='text-sm'>🔗 superlink.io/zl1babe</p>
                    </div>
                </div>
            </div>
            <div class='p-1 border rounded-se-[28px] border-[#e7e7e763]'>
                <div class='bg-[#0D161A] relative rounded-se-[28px]'>
                    <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true">
                        <ng-template ngbSlide>
                            <img src='./assets/images/profile (7).png' class='w-full mx-auto rounded-se-[28px]'
                                alt='item1' />
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src='./assets/images/profile (2).png' class='w-full mx-auto rounded-se-[28px]'
                                alt='item1' />
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src='./assets/images/profile (1).png' class='w-full mx-auto rounded-se-[28px]'
                                alt='item1' />
                        </ng-template>
                    </ngb-carousel>
                    <div
                        class='bg-[#071116bd] flex absolute top-0 right-0 rounded-se-[18px] rounded-es-[18px] p-[15px]'>
                        <img src='./assets/images/icons2.svg' class='cursor-pointer' alt='red' />
                        <div class='h-[16px] w-[1px] mx-3 bg-white'></div>
                        <img src='./assets/images/icons1.svg' class='cursor-pointer' alt='red' />
                    </div>
                    <div class='font-Lufga px-3 text-[#ffffffa6] py-3'>
                        <div class='flex justify-between w-full '>
                            <p class='mt-2 mb-2 text-[#ffff] font-Lufga font-medium text-lg'>Autumn Spooner</p>
                            <div class='flex justify-between w-1/5 self-center'>
                                <img src='./assets/images/insta.svg' class='cursor-pointer w-5 h-5' alt='red' />
                                <img src='./assets/images/tiktok.svg' class='cursor-pointer w-5 h-5' alt='red' />
                            </div>
                        </div>
                        <div class='text-[#ffffffa6] flex justify-around py-3'>
                            <div class='border-r pr-3 border-[#D9D9D9]'>
                                <p>326 <br />
                                    Posts</p>
                            </div>
                            <div class='border-r pr-3 border-[#D9D9D9]'>
                                <p>326 <br />
                                    Followers</p>
                            </div>
                            <div class=''>
                                <p>96 <br />
                                    Following</p>
                            </div>
                        </div>
                        <p class='text-[#ffffffa6] font-semibold text-sm font-Lufga'>Autumn Spooner | ZL1BABE x G80BABE
                        </p>
                        <p class='font-[300] text-sm mb-3'>Video creator</p>
                        <p class='text-sm'>Camaro ZL1 & G80 M3 Competition 🏎️</p>
                        <!-- <p class='text-sm'>PR: autumnspoonerzl1@gmail.com</p>
                        <p class='text-sm'>I do YouTube :) click the link!</p> -->
                        <p class='text-sm'>🔗 superlink.io/zl1babe</p>
                    </div>
                </div>
            </div>
            <div class='p-1 border rounded-se-[28px] border-[#e7e7e763]'>
                <div class='bg-[#0D161A] relative rounded-se-[28px]'>
                    <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true">
                        <ng-template ngbSlide>
                            <img src='./assets/images/profile (8).png' class='w-full mx-auto rounded-se-[28px]'
                                alt='item1' />
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src='./assets/images/profile (2).png' class='w-full mx-auto rounded-se-[28px]'
                                alt='item1' />
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src='./assets/images/profile (1).png' class='w-full mx-auto rounded-se-[28px]'
                                alt='item1' />
                        </ng-template>
                    </ngb-carousel>
                    <div
                        class='bg-[#071116bd] flex absolute top-0 right-0 rounded-se-[18px] rounded-es-[18px] p-[15px]'>
                        <img src='./assets/images/icons2.svg' class='cursor-pointer' alt='red' />
                        <div class='h-[16px] w-[1px] mx-3 bg-white'></div>
                        <img src='./assets/images/icons1.svg' class='cursor-pointer' alt='red' />
                    </div>
                    <div class='font-Lufga px-3 text-[#ffffffa6] py-3'>
                        <div class='flex justify-between w-full '>
                            <p class='mt-2 mb-2 text-[#ffff] font-Lufga font-medium text-lg'>Autumn Spooner</p>
                            <div class='flex justify-between w-1/5 self-center'>
                                <img src='./assets/images/insta.svg' class='cursor-pointer w-5 h-5' alt='red' />
                                <img src='./assets/images/tiktok.svg' class='cursor-pointer w-5 h-5' alt='red' />
                            </div>
                        </div>
                        <div class='text-[#ffffffa6] flex justify-around py-3'>
                            <div class='border-r pr-3 border-[#D9D9D9]'>
                                <p>326 <br />
                                    Posts</p>
                            </div>
                            <div class='border-r pr-3 border-[#D9D9D9]'>
                                <p>326 <br />
                                    Followers</p>
                            </div>
                            <div class=''>
                                <p>96 <br />
                                    Following</p>
                            </div>
                        </div>
                        <p class='text-[#ffffffa6] font-semibold text-sm font-Lufga'>Autumn Spooner | ZL1BABE x G80BABE
                        </p>
                        <p class='font-[300] text-sm mb-3'>Video creator</p>
                        <p class='text-sm'>Camaro ZL1 & G80 M3 Competition 🏎️</p>
                        <!-- <p class='text-sm'>PR: autumnspoonerzl1@gmail.com</p>
                        <p class='text-sm'>I do YouTube :) click the link!</p> -->
                        <p class='text-sm'>🔗 superlink.io/zl1babe</p>
                    </div>
                </div>
            </div>
        </div>
        <div class='text-center mt-8'>
            <button class='border border-[#FFFFFF33] text-white rounded-full py-4 px-6 font-Lufga'>Load More</button>
        </div>
    </div>
</div>
<div class='py-8 px-20 bg-[#061115] relative'>
    <p class='font-Zuume text-3xl text-white font-semibold mb-5'>recommended content creators</p>
    <div class=''>
        <app-carousal></app-carousal>
    </div>
</div>
<div class='py-8 px-20 bg-[#061115] relative'>
    <p class='font-Zuume text-3xl text-white font-semibold mb-5'>recommended categories</p>
    <div class='grid grid-cols-12 gap-4'>
        <div class='col-span-2'>
            <div class='border-[#FFFFFF33] border p-4 bg-[#081A20] rounded-3xl relative'>
                <p class='font-Lufga text-lg mb-4 text-white font-bold'>Fashion</p>
                <img src='./assets/images/redArrow.svg' alt='arrow' />
            </div>
        </div>
        <div class='col-span-2'>
            <div class='border-[#FFFFFF33] border p-4 bg-[#081A20] rounded-3xl relative'>
                <p class='font-Lufga text-lg mb-4 text-white font-bold'>Music & Dance</p>
                <img src='./assets/images/redArrow.svg' alt='arrow' />
            </div>
        </div>
        <div class='col-span-2'>
            <div class='border-[#FFFFFF33] border p-4 bg-[#081A20] rounded-3xl relative'>
                <p class='font-Lufga text-lg mb-4 text-white font-bold'>Beauty</p>
                <img src='./assets/images/redArrow.svg' alt='arrow' />
            </div>
        </div>
        <div class='col-span-2'>
            <div class='border-[#FFFFFF33] border p-4 bg-[#081A20] rounded-3xl relative'>
                <p class='font-Lufga text-lg mb-4 text-white font-bold'>Travel</p>
                <img src='./assets/images/redArrow.svg' alt='arrow' />
            </div>
        </div>

    </div>
</div>
<div class='py-8 px-20 bg-[#061115] '>
    <p class='font-Zuume text-3xl text-white font-semibold mb-5'>Active promotions</p>

    <div class='grid grid-cols-2 gap-4'>
        <div class='col-span-1'>
            <div class='border-[#FFFFFF33] border p-2 rounded-3xl relative'>
                <img src='./assets/images/permotion1.png' alt='profile' />
                <div class='absolute bottom-4 left-4 w-full'>
                    <p class='text-white font-Lufga text-lg'>FuelFest Events - Discount</p>
                    <p class='text-[#657784] font-Lufga mb-3 text-lg'>Code: ZL1BABE for tickets</p>
                    <img src='./assets/images/redArrow.svg' alt='arrow' />
                </div>
            </div>
        </div>
        <div class='col-span-1'>
            <div class='border-[#FFFFFF33] border p-2 rounded-3xl relative'>
                <img src='./assets/images/permotion.png' alt='profile' />
                <div class='absolute bottom-4 left-4 w-full'>
                    <p class='text-white font-Lufga text-lg'>CARBONADDONS</p>
                    <p class='text-[#657784] font-Lufga mb-3 text-lg'>Code : ZL1BABE</p>
                    <img src='./assets/images/redArrow.svg' alt='arrow' />
                </div>
            </div>
        </div>
    </div>
</div>

<div class='py-8 px-20 bg-[#061115] '>
    <div class='grid grid-cols-2 gap-4'>
        <div class='col-span-2'>
            <div class='p-2 rounded-3xl relative'>
                <p class='font-Zuume text-3xl text-white uppercase font-semibold mb-3 ml-3 mt-3'>Promotions</p>
                <div class='grid grid-cols-5 gap-3'>
                    <div class='bg-[#081A20] p-1 mb-2 rounded-3xl w-full'>
                        <img src='./assets/images/promotions (1).png' class='' alt='promotions' />
                        <p class='text-white self-center font-Lufga mt-3 font-semibold'>FuelFest Events - Discount
                            <br /><span class='text-[#657784] mt-2'> Code: ZL1BABE for tickets </span>
                        </p>
                        <img src='./assets/images/redArrow.svg' class='mt-5' alt='arrows' />
                    </div>
                    <div class='bg-[#081A20] p-2 mb-2 rounded-3xl w-full'>
                        <img src='./assets/images/promotions (2).png' class='' alt='promotions' />
                        <p class='text-white self-center font-Lufga mt-3 font-semibold'>CARBONADDONS <br /><span
                                class='text-[#657784] mt-2'> Code : ZL1BABE </span></p>
                        <img src='./assets/images/redArrow.svg' class='mt-5' alt='arrows' />
                    </div>
                    <div class='bg-[#081A20] mb-2 p-2 rounded-3xl'>
                        <img src='./assets/images/promotions (3).png' class='' alt='promotions' />
                        <p class='text-white self-center font-Lufga mt-3 font-semibold'>Auto Addict <br /><span
                                class='text-[#657784] mt-2'> Code : ZL1BABE </span></p>
                        <img src='./assets/images/redArrow.svg' class='mt-5' alt='arrows' />
                    </div>
                    <div class='bg-[#081A20] mb-2 p-2 rounded-3xl'>
                        <img src='./assets/images/promotions (4).png' class='' alt='promotions' />
                        <p class='text-white self-center font-Lufga mt-3 font-semibold'>Next-Gen Speed <br /><span
                                class='text-[#657784] mt-2'> Code : ZL1BABE </span></p>
                        <img src='./assets/images/redArrow.svg' class='mt-5' alt='arrows' />
                    </div>
                    <div class='bg-[#081A20] mb-2 p-2 rounded-3xl'>
                        <img src='./assets/images/promotions (5).png' class='' alt='promotions' />
                        <p class='text-white self-center font-Lufga mt-3 font-semibold'>Jax Wax <br /><span
                                class='text-[#657784] mt-2'> Code : ZL1BABE </span></p>
                        <img src='./assets/images/redArrow.svg' class='mt-5' alt='arrows' />
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class='text-center my-5'>
        <button class='border border-[#FFFFFF33] text-white rounded-full py-4 px-6 font-Lufga'>Delete Profile</button>
    </div>
</div>
<div class='grid lg:grid-cols-12 md:grid-cols-1 sm:grid-cols-1 s:grid-cols-1 gap-2 px-20 py-8 bg-[#061115]'>
    <div class='lg:col-span-5 md:col-span-1 sm:col-span-1 s:col-span-1 self-center'>
        <p class='text-[#8A30E4] font-hallelujah mb-[5px] text-[21px]'>Sign up</p>
        <p class='font-Zuume uppercase text-white leading-none text-[45px]'>Start comparison <br /> Your favourite
            <br /> Creator Today
        </p>
        <p class='font-Lufga mb-3 text-white'>Are you ready to make your business more organized? Download Spend.In now!
        </p>
        <div class=' mt-3'>
            <button class='bg-[#FF007A] py-2 px-4 text-white font-Lufga rounded-full'>Sign Up Now</button>
        </div>
    </div>
    <div class='lg:col-span-7 md:col-span-1 sm:col-span-1 s:col-span-1 '>
        <img src='./assets/images/banner1.png' alt='banner1' />
    </div>
</div>

<app-footer></app-footer>