<app-navbar></app-navbar>
<div
    class='realtive w-full py-12 lg:h-full md:h-[300px] sm:h-[250px] bg-about grid grid-cols-12 gap-6  bg-no-repeat bg-cover p-4'>
    <div class='col-span-6'>
        <div class='relative'>
            <img src='./assets/images/accountFram.png' alt='frame' />
            <img src='./assets/images/Image.png' class='w-[55%] absolute top-[31px] right-[23px]' alt='image' />
        </div>
    </div>

    <div class='col-span-6 mx-auto self-center py-10'>
        <p class='text-[#8A30E4] font-hallelujah text-[21px]'>Creator Account </p>
        <div class='flex w-[90%]'>
            <div>
                <h1 class='font-Zuume text-[70px] font-bold leading-[0.8] uppercase text-white text-left w-full'>
                    Autumn Spooner</h1>
                <p class='font-Lufga text-white'>Video creator</p>
            </div>
            <button
                class='bg-[#8a30e496] ml-auto text-[#AE5CFF] px-6 w-[27%] font-Lufga h-[40px] self-center rounded-full'
                type='button'>Edit Profile</button>
        </div>
        <p class='text-left font-Lufga my-3 text-[25px] text-[#657784]'> <span class='font-Zuume text-white'>
                Autumn Spooner | ZL1BABE x G80BABE </span> We are recognized for exceeding client expectations and
            delivering great results through dedication and ease of process.</p>

        <div class='flex my-3'>
            <p class='font-Zuume text-[#8A30E4]'>Platforms :</p>
            <div class='flex ml-3'>
                <img src='./assets/images/insta.svg' class='mr-2' alt='insta' />
                <p class='text-white font-Lufga'>Instagram</p>
            </div>
            <div class='flex ml-3'>
                <img src='./assets/images/tiktok.svg' class='mr-2' alt='tiktok' />
                <p class='text-white font-Lufga'>Tiktok</p>
            </div>
            <div class='flex ml-3'>
                <img src='./assets/images/Onlyfans.svg' class='mr-2' alt='onlyfan' />
                <p class='text-white font-Lufga'>Onlyfans</p>
            </div>
        </div>
        <div>
            <p class='font-Lufga text-white'>Camaro ZL1 & G80 M3 Competition 🏎️</p>
            <!-- <p class='font-Lufga text-[#7198FF] my-2'>PR: autumnspoonerzl1@gmail.com</p> -->
        </div>
        <div class='grid grid-cols-2 gap-3'>
            <div class='col-span-1'>
                <!-- <p class='font-Lufga text-[#7198FF]'>I do YouTube :) click the link!</p> -->
            </div>
            <div class='col-span-1'>
                <p class='font-Lufga text-[#7198FF]'>🔗 superlink.io/zl1babe</p>
            </div>
        </div>
        <div class='grid grid-cols-4 gap-3 my-3'>
            <div class='col-span-1'>
                <div class='text-center bg-[#4e4e4e33] border-[#FFFFFF33] border p-3 rounded-3xl'>
                    <p class='font-Zuume text-2xl font-bold text-white'>79 M +</p>
                    <p class='text-[#657784]'>Video Views</p>
                </div>
            </div>
            <div class='col-span-1'>
                <div class='text-center bg-[#4e4e4e33] border-[#FFFFFF33] border p-3 rounded-3xl'>
                    <p class='font-Zuume text-2xl font-bold text-white'>12 M +</p>
                    <p class='text-[#657784]'>Followers</p>
                </div>
            </div>
            <div class='col-span-1'>
                <div class='text-center bg-[#4e4e4e33] border-[#FFFFFF33] border p-3 rounded-3xl'>
                    <p class='font-Zuume text-2xl font-bold text-white'>34 M +</p>
                    <p class='text-[#657784]'>Likes</p>
                </div>
            </div>
        </div>
    </div>

</div>

<div class='py-8 px-20 bg-[#061115]'>
    <div class='grid grid-cols-2 gap-4'>
        <div class='col-span-1 '>
            <div class='grid grid-cols-2 gap-4 relative rounded-3xl bg-[#4e4e4e33] border-[#FFFFFF33] border p-4'>
                <div class='col-span-1'>
                    <img src='./assets/images/profile.png' class='w-[150px] mx-auto' alt='profile' />
                    <img src='./assets/images/question.svg' class='absolute top-5 right-5' alt='question' />
                </div>
                <div class='col-span-1 self-center '>
                    <p class='font-Lufga text-white text-lg'><span class='text-[#FF007A]'> 86% </span> Profile
                        Completed</p>
                </div>
            </div>
        </div>
        <div class='col-span-1 '>
            <div class='relative rounded-3xl bg-[#4e4e4e33] border-[#FFFFFF33] border p-4'>
                <p class='font-Lufga text-white text-lg'>Pepper Ranking</p>
                <img src='./assets/images/question.svg' class='absolute top-5 right-5' alt='question' />
                <div class='grid grid-cols-5 gap-4 py-7'>
                    <div class='col-span-1'>
                        <img src='./assets/images/Union.svg' class=' mx-auto' alt='profile' />
                    </div>
                    <div class='col-span-1'>
                        <img src='./assets/images/Union.svg' class=' mx-auto' alt='profile' />
                    </div>
                    <div class='col-span-1'>
                        <img src='./assets/images/Union.svg' class=' mx-auto' alt='profile' />
                    </div>
                    <div class='col-span-1'>
                        <img src='./assets/images/Union.svg' class=' mx-auto' alt='profile' />
                    </div>
                    <div class='col-span-1'>
                        <img src='./assets/images/Union.svg' class=' mx-auto' alt='profile' />
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class='py-8 px-20 bg-[#061115]'>
    <p class='text-center font-Zuume text-[45px] font-bold leading-[0.8] uppercase text-white w-full'> pricing plans
    </p>

    <div class='grid lg:grid-cols-12 md:grid-cols-4 sm:grid-cols-4 s:grid-cols-4 gap-4 mt-8'>
        <div class='col-span-4'>
            <div class='border text-white border-[#384144] rounded-se-[40px]'>
                <div class='px-5 py-6 border-b border-[#384144]'>
                    <p class='font-Lufga font-bold text-[#484E57]'>Starter</p>
                    <p class='font-Lufga text-[35px] font-semibold'>Free</p>
                </div>
                <div class='px-5 py-6'>
                    <p class='text-white font-Lufga flex mb-3'><img src='./assets/images/Stars.svg' class='mr-3'
                            alt='' /> 40
                        high-quality dummy point</p>
                    <p class='text-[#657784] font-Lufga flex mb-3'><img src='./assets/images/starDisable.svg'
                            class='mr-3' alt='' /> 1 different dummy point</p>
                    <p class='text-[#657784] font-Lufga flex'><img src='./assets/images/starDisable.svg' class='mr-3'
                            alt='' /> 2
                        hours turnaround time dummy point </p>

                    <button class='font-Lufga border border-[#FF007A] px-6 py-3 mt-5 rounded-full'>Buy Now</button>
                </div>

            </div>
        </div>
        <div class='col-span-4'>
            <div class='border text-white border-[#384144] bg-[#081A20] rounded-se-[40px]'>
                <div class='px-5 py-6 border-b border-[#384144]'>
                    <p class='font-Lufga font-bold text-[#484E57]'>Basic</p>
                    <p class='font-Lufga text-[35px] font-semibold'>$39 /mo</p>
                </div>
                <div class='px-5 py-6'>
                    <p class='text-white font-Lufga flex mb-3'><img src='./assets/images/Stars.svg' class='mr-3'
                            alt='' /> 40
                        high-quality dummy point</p>
                    <p class='text-white font-Lufga flex mb-3'><img src='./assets/images/Stars.svg' class='mr-3'
                            alt='' /> 1
                        different dummy point</p>
                    <p class='text-[#657784] font-Lufga flex'><img src='./assets/images/starDisable.svg' class='mr-3'
                            alt='' /> 2
                        hours turnaround time dummy point </p>
                    <button class='border font-Lufga border-[#FF007A] bg-[#FF007A] px-6 py-3 mt-5 rounded-full'>Buy
                        Now</button>
                </div>

            </div>
        </div>
        <div class='col-span-4'>
            <div class='border text-white border-[#384144] rounded-se-[40px]'>
                <div class='px-5 py-6 border-b border-[#384144]'>
                    <p class='font-Lufga font-bold text-[#484E57]'>Premium</p>
                    <p class='font-Lufga text-[35px] font-semibold'>$59 /mo</p>
                </div>
                <div class='px-5 py-6'>
                    <p class='text-white font-Lufga flex mb-3'><img src='./assets/images/Stars.svg' class='mr-3'
                            alt='' /> 40
                        high-quality dummy point</p>
                    <p class='text-white font-Lufga flex mb-3'><img src='./assets/images/Stars.svg' class='mr-3'
                            alt='' /> 1
                        different dummy point</p>
                    <p class='text-white font-Lufga flex'><img src='./assets/images/Stars.svg' class='mr-3' alt='' /> 2
                        hours
                        turnaround time dummy point </p>

                    <button class='border font-Lufga border-[#FF007A] px-6 py-3 mt-5 rounded-full'>Buy Now</button>
                </div>

            </div>
        </div>
    </div>

</div>

<div class='py-8 px-20 bg-[#061115]'>
    <p class='font-Zuume text-3xl text-white font-semibold'>Media</p>
    <div class='grid grid-cols-4 gap-4 mt-5'>
        <div class='col-span-1'>
            <img src='./assets/images/profile (1).png' alt='profile' />
        </div>
        <div class='col-span-1'>
            <img src='./assets/images/profile (3).png' alt='profile' />
        </div>
        <div class='col-span-1'>
            <img src='./assets/images/profile (2).png' alt='profile' />
        </div>
        <div class='col-span-1'>
            <img src='./assets/images/profile (3).png' alt='profile' />
        </div>
        <div class='col-span-1'>
            <img src='./assets/images/profile (4).png' alt='profile' />
        </div>
        <div class='col-span-1'>
            <img src='./assets/images/profile (5).png' alt='profile' />
        </div>
        <div class='col-span-1'>
            <img src='./assets/images/profile (6).png' alt='profile' />
        </div>
        <div class='col-span-1'>
            <img src='./assets/images/profile (7).png' alt='profile' />
        </div>
        <div class='col-span-1'>
            <img src='./assets/images/profile (8).png' alt='profile' />
        </div>
        <div class='col-span-1'>
            <img src='./assets/images/profile (9).png' alt='profile' />
        </div>
        <div class='col-span-1'>
            <img src='./assets/images/profile (3).png' alt='profile' />
        </div>
        <div class='col-span-1'>
            <img src='./assets/images/profile (2).png' alt='profile' />
        </div>
    </div>
</div>

<div class='py-8 px-20 bg-[#061115] '>
    <p class='font-Zuume text-3xl text-white font-semibold mb-5'>Active promotions</p>

    <div class='grid grid-cols-2 gap-4'>
        <div class='col-span-1'>
            <div class='border-[#FFFFFF33] border p-2 rounded-3xl relative'>
                <img src='./assets/images/permotion.png' alt='profile' />
                <div class='absolute bottom-4 left-4 w-full'>
                    <p class='text-white font-Lufga text-lg'>FuelFest Events - Discount</p>
                    <p class='text-[#657784] font-Lufga mb-3 text-lg'>Code: ZL1BABE for tickets</p>
                    <img src='./assets/images/redArrow.svg' alt='arrow' />
                </div>
            </div>
        </div>
        <div class='col-span-1'>
            <div class='border-[#FFFFFF33] border p-2 rounded-3xl relative'>
                <img src='./assets/images/permotion1.png' alt='profile' />
                <div class='absolute bottom-4 left-4 w-full'>
                    <p class='text-white font-Lufga text-lg'>CARBONADDONS</p>
                    <p class='text-[#657784] font-Lufga mb-3 text-lg'>Code : ZL1BABE</p>
                    <img src='./assets/images/redArrow.svg' alt='arrow' />
                </div>
            </div>
        </div>
    </div>
</div>

<div class='py-8 px-20 bg-[#061115] '>
    <div class='grid grid-cols-2 gap-4'>
        <div class='col-span-1'>
            <div class='border-[#FFFFFF33] border p-2 rounded-3xl relative '>
                <p class='font-Zuume text-3xl text-white uppercase font-semibold mb-3 ml-3 mt-3'>Promotions</p>

                <div class='flex bg-[#081A20] p-2 mb-2 rounded-3xl w-full'>
                    <img src='./assets/images/promotions (5).png' class='w-14 h-14 mr-4' alt='promotions' />
                    <p class='text-white self-center font-Lufga font-semibold'>FuelFest Events - Discount <span
                            class='text-[#657784]'> Code: ZL1BABE for tickets </span></p>
                    <img src='./assets/images/redArrow.svg' class='ml-auto' alt='arrows' />
                </div>
                <div class='flex bg-[#081A20] p-2 mb-2 rounded-3xl w-full'>
                    <img src='./assets/images/promotions (1).png' class='w-14 h-14 mr-4' alt='promotions' />
                    <p class='text-white self-center font-Lufga font-semibold'>CARBONADDONS <span
                            class='text-[#657784]'> Code : ZL1BABE </span></p>
                    <img src='./assets/images/redArrow.svg' class='ml-auto' alt='arrows' />
                </div>
                <div class='flex bg-[#081A20] mb-2 p-2 rounded-3xl'>
                    <img src='./assets/images/promotions (2).png' class='w-14 h-14 mr-4' alt='promotions' />
                    <p class='text-white self-center font-Lufga font-semibold'>Auto Addict <span class='text-[#657784]'>
                            Code : ZL1BABE </span></p>
                    <img src='./assets/images/redArrow.svg' class='ml-auto' alt='arrows' />
                </div>
                <div class='flex bg-[#081A20] mb-2 p-2 rounded-3xl'>
                    <img src='./assets/images/promotions (3).png' class='w-14 h-14 mr-4' alt='promotions' />
                    <p class='text-white self-center font-Lufga font-semibold'>Next-Gen Speed <span
                            class='text-[#657784]'> Code : ZL1BABE </span></p>
                    <img src='./assets/images/redArrow.svg' class='ml-auto' alt='arrows' />
                </div>
                <div class='flex bg-[#081A20] mb-2 p-2 rounded-3xl'>
                    <img src='./assets/images/promotions (4).png' class='w-14 h-14 mr-4' alt='promotions' />
                    <p class='text-white self-center font-Lufga font-semibold'>Jax Wax <span class='text-[#657784]'>
                            Code : ZL1BABE </span></p>
                    <img src='./assets/images/redArrow.svg' class='ml-auto' alt='arrows' />
                </div>
            </div>
        </div>
        <div class='col-span-1'>
            <div class='border-[#FFFFFF33] border p-2 rounded-3xl relative'>
                <p class='font-Zuume text-3xl text-white uppercase font-semibold mb-3 ml-3 mt-3'>data insights</p>

            </div>
        </div>
    </div>
    <div class='text-center my-5'>
        <button class='border border-[#FFFFFF33] text-white rounded-full py-3 px-6 font-Lufga'>Delete
            Profile</button>
    </div>
</div>

<app-footer></app-footer>