<div class='bg-[#061115]'>
    <div class='grid lg:grid-cols-12 md:grid-cols-6 sm:grid-cols-6 s:grid-cols-6 gap-4'>
        <div class='lg:col-span-5 md:col-span-6 sm:col-span-6 s:col-span-6 p-10 '>
            <div class="self-center h-full">
                <img src='./assets/images/Logo.png' class='w-[150px] lg:ml-12 md:ml-3 sm:ml-3 s:ml-3 ' alt='logo' />
                <div class='mt-20 lg:px-12 md:px-3 sm:px-3 s:px-3  '>
                    <button class='bg-[#FF007A] w-full rounded-xl mb-1 text-white p-3 text-2xl font-Zuume'>Register as
                        creator</button>

                    <div class='relative'>
                        <p
                            class="before:content-[''] before:h-[1px] before:w-[40%] before:absolute before:bg-white before:left-0 before:top-[15px] before:bottom-0 text-white font-Zuume text-2xl my-3 text-center after:content-[''] after:h-[1px] after:w-[40%] after:absolute after:bg-white after:top-[15px] after:right-0">
                            OR</p>
                    </div>
                    <button class='bg-[#FF007A] w-full rounded-xl mb-3 text-white p-3 text-2xl font-Zuume'>Register in
                        as
                        fan</button>
                </div>
                <p class='font-Zuume text-lg text-white text-center'>already have an account? <a href="/"
                        class='font-bold text-white'> login </a></p>
            </div>
        </div>
        <div class='lg:col-span-7 md:col-span-6 sm:col-span-6 s:col-span-6'>
            <img src='./assets/images/LoginBanner.png' class='h-screen object-fill p-2' alt='banner' />
        </div>
    </div>
</div>